<img src="/assets/challenge-upper-blue-triangle.svg" class="upper-blue-triangle" alt="" style="margin-bottom: -1px;">
<div class="container-fluid">
    <div class="container">
    <h1 class="heading">ENGAGEMENTS</h1>
    <div class="row justify-content-center mt-5">
        <!-- <% for(var i=0; i < 5; i++) { %>
            <%- require('../common-card/common-card.ejs')({type:"engagement"}) %>
        <% } %> -->
         
       
        <div class=" col-lg-4 col-10 my-4 engagement-container" >
            <a href="https://www.youtube.com/watch?v=THds-sDCldE" target="_blank">
                <img src="/assets/engagement-vijeta.png" />
            </a>
                <!-- <button type="button" class="engagement-btn" >
                    View More
                 </button> -->
        </div>
        <div class=" col-lg-4 col-10 my-4 engagement-container">
            <a href="https://www.youtube.com/watch?v=MvmYc84RuXE" target="_blank">
                <img src="/assets/engagement-rahul.png" />
            </a>
        </div>
    </div>
    </div>
    </div>
</div>
<img src="/assets/challenge-lower-blue-triangle.svg" class="lower-blue-triangle w-100" alt="">