<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="technica.css" />
    <link rel="icon" href="imgs/favicon.ico" />

    <title>Technica'22</title>
  </head>
  <body>
    <section>
      <nav
        class="navbar navbar-expand-lg navbar-dark"
        style="background: #181818"
      >
        <!--  Show this only on mobile to medium screens  -->
        <a class="navbar-brand d-lg-none" href="#"
          >T E C H<span style="color: #27a5ef"> N I C A</span></a
        >

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarToggle"
          aria-controls="navbarToggle"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!--  Use flexbox utility classes to change how the child elements are justified  -->
        <div
          class="collapse navbar-collapse justify-content-between"
          id="navbarToggle"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="#">SCHEDULE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">PRIZES</a>
            </li>
          </ul>

          <!--   Show this only lg screens and up   -->
          <a class="navbar-brand d-none d-lg-block" href="#"
            >T E C H<span style="color: #27a5ef"> N I C A</span></a
          >

          <ul class="navbar-nav">
            <li class="nav-item nav-right">
              <a class="nav-link active" href="#">SPONSORS</a>
            </li>
            <li class="nav-item nav-right">
              <a class="nav-link active" href="#">CONTACT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-badge" href="#"
                ><img src="imgs/mlh-logo.png" alt="" srcset=""
              /></a>
            </li>
          </ul>
        </div>
      </nav>
    </section>
    <section>
      <div class="landing-sec">
        <div id="canvas"></div>
        <img src="imgs/technica-logo.png" alt="" srcset="" />
        <div class="technica-heading">
          TECH<span style="color: #27a5ef">NICA</span>
        </div>
        <div class="tag-line">
          Initiate | <span style="color: #27a5ef">Innovate</span> | Inspire
        </div>
        <div class="dates">20th - 22nd May 2022</div>
        <a
          href="https://technica-15366.devpost.com/"
          style="text-decoration: none"
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="register">Register Now</div></a
        >
      </div>
    </section>
    <section class="about-sec">
      <div class="flex-abo">
        <div class="right-about">
          <h1 class="abo-head">
            <span class="underline">A</span><span class="blue">BOUT</span>
          </h1>
        </div>
        <div class="left">
          <!-- <h1 class="main-title">FAQ's</h1> -->
          <div class="main-container">
            <p>
              Technica is a 48-hour Hack-a-Thon conducted by ISTE-VIT. The hack
              is aimed at cultivating a technical temper among the student
              community and promoting healthy competition among peers. It is a
              one of a kind opportunity for participants to develop their
              technical skills and develop innovative and exciting solutions to
              real world problems!
            </p>
          </div>
        </div>
      </div>
    </section>
    <h1 class="mobile-track-heading" style="margin-top: 50px">
      <span><span class="TR" style="color: white">TR</span>A</span>CKS
    </h1>
    <section class="tracks-section" style="color: white">
      <div class="track-section-info">
        <div class="prizebox">
          <div class="track-content">
            <!-- <div class="track-1">
              <div class="track-text">
                <div>
                  <p>Track 01</p>
                  <p>explain or promote</p>
                </div>
              </div>
              <img class="track-1-img" src="imgs/track-1.png" />
            </div> -->
            <div class="track-1 track">
              <img class="track-1-img" src="imgs/heart.png" />
              <div class="track-text">
                <div>
                  <p style="font-weight: 700">Healthcare</p>
                  <p>
                    Step forth, search for digital strategies to scale medicine
                    as a way to solve health problems worldwide. Make a
                    difference, be a part of a healthier future.
                  </p>
                </div>
              </div>
            </div>
            <div class="track-1">
              <div class="track-text">
                <div>
                  <p style="font-weight: 700">Education</p>
                  <p>
                    Education is one of the cornerstones of human civilization
                    and is of extreme importance to us. Over the years, E-books,
                    virtual classrooms and online education portals have
                    revolutionized education.
                  </p>
                </div>
              </div>
              <img class="track-1-img" src="imgs/education.png" />
            </div>
            <div class="track-1 track rupee-track">
              <img class="track-1-img rupees" src="imgs/rupees.png" />
              <div class="track-text">
                <div>
                  <p style="font-weight: 700">Fin Tech</p>
                  <p>
                    Financial technology, also known as fin-tech, is an economic
                    industry composed of companies that use technology to make
                    financial services more efficient.
                  </p>
                </div>
              </div>
            </div>

            <div class="track-1">
              <div class="track-text">
                <div>
                  <p style="font-weight: 700">Open innovation</p>
                  <p>
                    Open innovation is the use of an organisation’s internal
                    knowledge and benefiting from external innovative solutions
                    by collaborating with people and organisations outside the
                    company.
                  </p>
                </div>
              </div>
              <img class="track-1-img" src="imgs/Shape 9.png" />
            </div>
          </div>
        </div>
      </div>
      <div class="track-section-heading">
        <div class="track-img-section">
          <img
            class="track-section-image"
            src="imgs/Tracks.png"
            alt="border-line-blue"
          />
          <!-- <h1 class="tracks-heading"><span><span class="TR">TR</span>A</span>CKS</h1> -->
        </div>
      </div>
    </section>
    <section class="prizes-section" style="color: white; overflow-x: hidden">
      <h1 class="mobile-prizes-heading">
        <span><span class="PR" style="color: white">PR</span>I</span>ZES
      </h1>
      <div class="prizebox-prize"></div>
      <div class="price-section-heading">
        <!-- <img src="imgs//prize-section.jpg"> -->
        <div class="prizeheading">
          <h1 class="prizes-heading">
            <span><span class="PR" style="color: white">PR</span>I</span>ZES
          </h1>
        </div>
        <div class="prize-cards">
          <div class="row">
            <div class="col-lg-3">
              <img class="prize-card" src="imgs/first.png" alt="" srcset="" />
            </div>
            <div class="col-lg-3">
              <img class="prize-card" src="imgs/first.png" alt="" srcset="" />
            </div>
            <div class="col-lg-3">
              <img class="prize-card" src="imgs/first.png" alt="" srcset="" />
            </div>
            <div class="col-lg-3">
              <img class="prize-card" src="imgs/first.png" alt="" srcset="" />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <img class="prize-card" src="imgs/first.png" alt="" srcset="" />
            </div>
            <div class="col-lg-4">
              <img class="prize-card" src="imgs/first.png" alt="" srcset="" />
            </div>
            <div class="col-lg-4">
              <img class="prize-card" src="imgs/first.png" alt="" srcset="" />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <img class="prize-card" src="imgs/first.png" alt="" srcset="" />
            </div>
            <div class="col-lg-6">
              <img class="prize-card" src="imgs/first.png" alt="" srcset="" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <section class="sponsors">
      <div class="heading">
        <span class="underline">SP</span>ON<span class="blue-head">SORS</span>
      </div>

      <div class="row mt-5 d-flex flex-row">
        <div class="col-lg-1 col-md-2 col-sm-3 to-rotate-1">
          <div class="blue-head text-center">TITLE</div>
          <div class="text-center">SPONSORS</div>
        </div>
        <div class="col-lg-11 col-md-10 col-sm-9 white-strip"></div>
      </div>

      <div class="row mt-5 d-flex flex-row">
        <div class="col-lg-11 col-md-10 col-sm-9 white-strip"></div>
        <div class="col-lg-1 col-md-2 col-sm-3 to-rotate-2">
          <div class="blue-head text-center">ASSOCIATE</div>
          <div class="text-center">SPONSORS</div>
        </div>
      </div>

      <div class="row mt-5 d-flex flex-row">
        <div class="col-lg-1 col-md-2 col-sm-3 to-rotate-1">
          <div class="blue-head text-center">TITLE</div>
          <div class="text-center">SPONSORS</div>
        </div>
        <div class="col-lg-11 col-md-10 col-sm-9 white-strip"></div>
      </div>
    </section> -->
    <!-- <section class="engagements">
      <div class="eng-line-1"></div>
      <div class="eng-line-2"></div>
      <div class="row">
        <div class="col-lg-3">
          <div class="eng-heading">
            <span class="underline">EN</span
            ><span class="blue-head">GAGEMENTS</span>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="row">
            <div class="col-lg-6">
              <img
                src="engagement-vijeta.png"
                class="eng-png"
                alt=""
                srcset=""
              />
            </div>
            <div class="col-lg-6">
              <img
                src="engagement-vijeta.png"
                class="eng-png"
                alt=""
                srcset=""
              />
            </div>
            <div class="col-lg-6">
              <img
                src="engagement-vijeta.png"
                class="eng-png"
                alt=""
                srcset=""
              />
            </div>
            <div class="col-lg-6">
              <img
                src="engagement-vijeta.png"
                class="eng-png"
                alt=""
                srcset=""
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="schedule">
      <div class="row">
        <div class="col-lg-6">
          <div class="eng-heading">
            S<span class="underline">CHE</span
            ><span class="blue-head">DULE</span>
          </div>
        </div>
        <div class="col-lg-6">
          <img src="imgs/sch.png" class="sch" alt="" srcset="" />
        </div>
      </div>
    </section> -->
    <section>
      <div class="flex-faq">
        <div class="left">
          <div class="accordion">
            <div class="accordion-item">
              <div class="accordion-item-header">Q) Who all can register?</div>
              <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                  If you love to code, you are more than welcome to participate
                  in the hackathon.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-item-header">
                Q) How will project submissions work?
              </div>
              <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                  To participate, register on Devpost platform. You will then be
                  able to create your project once the hackathon starts. To be
                  eligible for the judging process you'll have to submit the
                  project before the hackathon ends.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-item-header">Q) How big can a team be?</div>
              <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                  Up to 4 people large! Pro Tip: Aim to have a mix of people
                  with both design and developer skills.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-item-header">
                Q) Do I Keep Working Throughout The Event?
              </div>
              <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                  Of course not. We have numerous fun-filled mini-events in the
                  bag for you. Stay tuned to our social media handles for
                  detailed updates on the mini-events.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-item-header">
                Q) Can I bring my previous project to the hackathon?
              </div>
              <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                  We apologize, but all hackathon's projects should be developed
                  during the event from scratch. We want honest conditions for
                  all hackers. That's why all code should be done during the
                  hackathon.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-item-header">Q) How much does it cost?</div>
              <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                  Admission to Technica is completely free for all college
                  students!
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-item-header">
                Q) I am a newbie, can I hack?
              </div>
              <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                  Of course you can! We at Technica ensure that no one is left
                  behind during the hacking, thanks to our mentors and
                  volunteers who help us achieve the same. We make sure that you
                  learn the best you can alongside having fun and experiencing
                  what it feels to belong to a community.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-item-header">
                Q) Are these are the only themes/tracks for the hackathon?
              </div>
              <div class="accordion-item-body">
                <div class="accordion-item-body-content">
                  We never want to limit your innovation. Under the category of
                  Open Innovation, you can work on any project of your choice
                  which can be of any theme.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right">
          <h1 class="faq-head">
            <span class="underline">FA</span><span class="blue">Qs</span>
          </h1>
        </div>
      </div>
    </section>
    <section class="code">
      <div class="code-o">
        <a
          href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf"
          target="_blank"
          rel="noopener noreferrer"
          style="color: black; text-decoration: none"
        >
          <span>Code of Conduct</span>
        </a>
      </div>
    </section>
    <section></section>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r70/three.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://jacoblett.github.io/bootstrap4-latest/bootstrap-4-latest.min.js"></script>
    <script src="script2.js"></script>
    <script>
      const accordionItemHeaders = document.querySelectorAll(
        ".accordion-item-header"
      );

      accordionItemHeaders.forEach((accordionItemHeader) => {
        accordionItemHeader.addEventListener("click", (event) => {
          const currentlyActiveAccordionItemHeader = document.querySelector(
            ".accordion-item-header.active"
          );
          if (
            currentlyActiveAccordionItemHeader &&
            currentlyActiveAccordionItemHeader !== accordionItemHeader
          ) {
            currentlyActiveAccordionItemHeader.classList.toggle("active");
            currentlyActiveAccordionItemHeader.nextElementSibling.style.maxHeight = 0;
          }

          accordionItemHeader.classList.toggle("active");
          const accordionItemBody = accordionItemHeader.nextElementSibling;
          if (accordionItemHeader.classList.contains("active")) {
            accordionItemBody.style.maxHeight =
              accordionItemBody.scrollHeight + "px";
          } else {
            accordionItemBody.style.maxHeight = 0;
          }
        });
      });
    </script>
  </body>
</html>
