@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("http://fonts.cdnfonts.com/css/optima");

#gallery {
  overflow: hidden;
  height: 100vh;
  color: white;
}
#gallery .text-container {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  z-index: 15;
  pointer-events: none;
}
#gallery .text-container h1 {
  font-size: 10rem;
  font-family: "Optima", sans-serif;
}
#gallery .gallery-images-container {
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 100vh;
}
#gallery .gallery-images-container .gallery-image {
  max-width: 300px;
  max-height: 300px;
  position: relative;
  opacity: 0;
  transition: all 4s;
}
#gallery .gallery-images-container .gallery-image:hover {
  opacity: 1;
  transition: all 1s;
}
#gallery-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 990px) {
  #gallery .text-container h1 {
    font-size: 8rem;
  }
}
@media only screen and (max-width: 800px) {
  #gallery .text-container h1 {
    font-size: 6rem;
  }
}
@media only screen and (max-width: 530px) {
  #gallery .text-container h1 {
    font-size: 4rem;
  }
}
