@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("http://fonts.cdnfonts.com/css/optima");

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #0c1423 !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0c1423;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(203, 240, 255);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(203, 240, 255);
}

.landing-section {
  min-height: 100vh;
  overflow-x: hidden;
  z-index: 2;
  margin: 0;
  color: white;
  background-image: url("/public/imgs/landing-bg2.gif");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  font-family: "Optima", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

@media (max-width: 778px) {
  .landing-section {
    background-size: cover;
    background-position: 50% 50%;
  }
}

#defaultCanvas0 {
  margin: 0;
  padding: 0;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #0c1729 0%, #060b15 99.23%) !important;
}

.landing-logo {
  height: 25rem;
  margin-top: 25px;
}

@media screen and (max-width: 768px) {
  .landing-logo {
    height: 15rem;
  }
}

.about-us {
  padding: 5rem;
}

@media (max-width: 778px) {
  .about-us {
    padding: 3rem;
  }
}

.about-right {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-family: "Optima", sans-serif;
  font-size: 1.3rem;
  text-align: justify;
}

.about-left {
  display: flex;
  align-items: start;
  justify-content: center;
}

.about-img {
  height: 10rem;
  margin-top: 6rem;
}

.about-head {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
  font-family: "Optima", sans-serif;
  color: white;
}

.blue-text {
  color: #96e0ee;
}

.social-1 {
  position: relative;
  top: 14rem;
  left: -12.5rem;
}

.mlpic-1 {
  position: relative;
  top: 4rem;
  right: 7rem;
  height: 80px;
}

.mlpic-2 {
  position: relative;
  top: 2rem;

  height: 80px;
}

.mlpic-3 {
  position: relative;
  top: 4rem;
  left: 7rem;
  height: 80px;
}

@media (max-width: 778px) {
  .mlpic-1 {
    position: relative;
    top: 4rem;
    right: 4rem;
    height: 80px;
  }

  .mlpic-2 {
    position: relative;
    top: 2rem;

    height: 80px;
  }

  .mlpic-3 {
    position: relative;
    top: 4rem;
    left: 4rem;
    height: 80px;
  }
}

@media (max-width: 778px) {
  .mlpic-1,
  .mlpic-2,
  .mlpic-3 {
    height: 60px;
  }
}

.social-2 {
  position: relative;
  top: 17rem;
  left: -10rem;
}

.mlpic-1,
.mlpic-3 {
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
}

.mlpic-2 {
  -webkit-animation: mover2 2s infinite alternate;
  animation: mover2 2s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

@-webkit-keyframes mover2 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5px);
  }
}
@keyframes mover2 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

.social-3 {
  position: relative;
  top: 17rem;
  left: -7rem;
}

.social-4 {
  position: relative;
  top: 14rem;
  left: -6rem;
}

* {
  margin: 0;
}
.slide {
  height: 100vh;
  width: 100vw;
  font-family: "Optima", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  padding-top: 50px;
}

@media (max-width: 778px) {
  .slide {
    height: auto;
  }
}

.title-top {
  text-align: center;
  margin-top: 2vh;
  font-weight: 300;
  font-size: 2rem;
}

.title {
  font-size: 4rem;
  text-align: center;
}

.line {
  height: 5px;
  width: 10vw;
  margin: auto;
  margin-bottom: 2vh;
  background-color: rgb(203, 240, 255);
}

.line-tech {
  height: 5px;
  width: 8vw;
  margin-bottom: 2vh;
  background-color: rgb(203, 240, 255);
}

.description {
  text-align: center;
  max-width: 80vw;
  margin: auto;
}

.registerbtn {
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  font-size: 20px;
  background-color: rgb(203, 240, 255);
  color: black;
  font-weight: 600;
  margin: auto;
  margin-top: 5vh !important;
  font-family: "Poppins", sans-serif;
}
.imgcomp {
  height: 35vh;
  width: 100vw;
  position: relative;
}
.imgcomp img {
  float: bottom;
  max-width: 100vw;
  position: absolute;
  bottom: 0;
}

.carousel-inner {
  height: 100vh;
}
.carousel-item {
  height: 100vh;
}

@media (max-width: 778px) {
  .carousel-inner {
    height: 130vh;
  }
  .carousel-item {
    height: 130vh;
  }

  .title {
    font-size: 3rem;
  }
}

.d-block {
  position: absolute;
  bottom: 0;
}

@media (max-width: 1000px) and (min-width: 600px) {
  .description {
    font-size: 25px;
  }
  .line {
    margin-top: 1vh;
    width: 25vw;
  }
  .title-top {
    margin-top: 5vh;
  }
  .registerbtn {
    width: 250px;
    height: 90px;
    font-size: 30px;
  }
}

@media only screen and (max-width: 650px) {
  .line {
    margin-top: 1vh;
    width: 25vw;
  }
  .description {
    font-size: 15px;
  }
}

.planets {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-self: center;
}

.planets .pla {
  animation: rotation 50s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

#speakers {
  padding: 5rem;
}

#team {
  padding: 5rem;
}

.speaker-head {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2rem;
  font-family: "Optima", sans-serif;
  color: white;
}

.team-head {
  font-size: 3rem;
  font-weight: 600;
  font-family: "Optima", sans-serif;
  color: white;
}

.team-headings {
  color: white;
  font-size: 1.8rem;
  text-align: center;
}

.speaker-sec {
  padding: 3rem;
}

.speaker-right {
  text-align: right;
}

.speaker-judge-heading {
  text-align: right;
  padding: 1rem;
  padding-bottom: 4rem;
}

.speaker-heading {
  color: #96e0ee;
  font-family: "Optima", sans-serif;
  padding-left: 2rem;
}

.speaker-heading span {
  color: white;
}

.judges-heading {
  color: white;
  font-family: "Optima", sans-serif;
  padding-left: 2rem;
}

.judges-span {
  text-decoration: underline #96e0ee;
  text-underline-offset: 1rem;
}

.speaker-names {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  justify-content: space-around;
}

.speaker-images {
  width: 12rem;
  height: 12rem;
  background-color: transparent;
  border-radius: 100%;
  border: 13px solid;
  border-color: rgba(150, 224, 238, 1) transparent rgba(150, 224, 238, 1)
    transparent;
  overflow: hidden;
  transform: rotate(-45deg);
  transition: 0.5s;
  padding: 0.3rem;
  margin: 3rem;
}

.speaker-images .speaker-img {
  transform: rotate(45deg);
  background-color: transparent;
  border-radius: 100%;
  overflow: hidden;
  transition: 0.5s;
}

.speaker-images:hover {
  transform: rotate(45deg);
  transition: 0.5s;
}

.speaker-images:hover .speaker-img {
  transform: rotate(-45deg);
  transition: 0.5s;
}

.speaker-images img {
  display: block;
  width: 100%;
  height: 100%;
}

.speaker-img2 {
  width: 10rem;
  height: 10rem;
  background-color: transparent;
  border-radius: 100%;
  border: 13px solid;
  border-color: rgba(150, 224, 238, 1) transparent rgba(150, 224, 238, 1)
    transparent;
  overflow: hidden;
  transform: rotate(-45deg);
  transition: 0.5s;
  padding: 0.3rem;
  margin: 3rem;
}

.speaker-img2 .speaker-img {
  transform: rotate(45deg);
  background-color: transparent;
  border-radius: 100%;
  overflow: hidden;
  transition: 0.5s;
}

.speaker-img2:hover {
  transform: rotate(45deg);
  transition: 0.5s;
}

.speaker-img2:hover .speaker-img {
  transform: rotate(-45deg);
  transition: 0.5s;
}

.speaker-img2 img {
  display: block;
  width: 100%;
  height: 100%;
}

.Team-section {
  padding: 3rem;
}

.team-heading {
  color: white;
  font-family: "Optima", sans-serif;
}

.team-heading span {
  text-decoration: underline #96e0ee;
  text-underline-offset: 1rem;
}

.convenor-info {
  text-align: center;
  padding-top: 2rem;
}

.convenor-info h2 {
  font-family: "Optima", sans-serif;
  color: white;
}

.convenor-section {
  justify-content: center;
  vertical-align: middle;
  text-align: center;
}

.convenor-section-images {
  display: flex;
  justify-content: space-around;
}

.convenor-image-div {
  width: 12rem;
  height: 12rem;
  background-color: transparent;
  border-radius: 100%;
  border: 13px solid;
  border-color: rgba(150, 224, 238, 1) transparent rgba(150, 224, 238, 1)
    transparent;
  overflow: hidden;
  transform: rotate(-45deg);
  transition: 0.5s;
  padding: 0.3rem;
  margin: 3rem;
}

.convenor-image-div .convenor-image {
  transform: rotate(45deg);
  background-color: transparent;
  border-radius: 100%;
  overflow: hidden;
  transition: 0.5s;
}

.convenor-image-div:hover {
  transform: rotate(45deg);
  transition: 0.5s;
}

.convenor-image-div:hover .convenor-image {
  transform: rotate(-45deg);
  transition: 0.5s;
}

.convenor-image-div img {
  display: block;
  width: 100%;
  height: 100%;
}

.junior-core-carousel {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin: 2rem;
}

.junior-core-names {
  color: white;
  font-family: "Optima", sans-serif;
  border: 1px solid rgba(94, 106, 128, 0.7);
  text-align: center;
  padding: 1rem;
  transition: 0.2s;
}

.junior-core-names:hover {
  color: black;
  background-color: white;
}

.junior-core-carousel-2 {
  display: none;
  grid-template-columns: auto auto auto auto auto;
  margin: 2rem;
}

.junior-core-carousel-3 {
  display: none;
  grid-template-columns: auto auto auto auto auto;
  margin: 2rem;
}

.junior-core-carousel-4 {
  display: none;
  grid-template-columns: auto auto auto auto auto;
  margin: 2rem;
}

.carousel-arrows {
  color: white;
  text-align: center;
}

.fa-solid-btn {
  padding: 1rem;
  border: 1px solid white;
  border-radius: 100%;
  margin: 1rem;
  transition: 0.2s;
  cursor: pointer;
  outline: none;
}

.fa-solid-btn:hover {
  background-color: black;
  color: white;
}

.horizon-images {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  margin: 4rem;
  border: 1px solid white;
  text-align: center;
  overflow: hidden;
  position: relative;
  /* z-index: 2; */
}

.horizon-images img {
  width: 10rem;
  height: 10rem;
  padding: 0%;
  margin: 0%;
  opacity: 0;
  transition: 1s;
  z-index: 2;
}

.horizon-images img:hover {
  opacity: 1;
  cursor: pointer;
}

.horizon-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Optima", sans-serif;
  color: white;
  font-size: 6rem;
  text-align: center;
  /* border: 1px solid orange; */
}

.speaker-name {
  color: white;
  font-family: "Optima", sans-serif;
  font-size: 1.4rem;
  margin-top: -10px;
  text-align: center;
}

.speaker-card {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
}

#team .coordinator-cell {
  transition: all 0.2s;
  cursor: pointer;
  border: rgba(255, 255, 255, 0.395) solid 1px;
  border-radius: 5px;

  text-align: center;
}
#team .coordinator-cell a {
  color: #fff;
}
#team .coordinator-cell:hover {
  background: #fff;
}
#team .coordinator-cell:hover a {
  color: #000;
}
#team .coordinator-cell a {
  text-decoration: none;
}
.coordinators-carousel {
  position: relative;
}
.coordinators-carousel .coordinators-panel {
  transition: all 0.5s;
  display: flex;
  opacity: 1;
}
@media only screen and (max-width: 990px) {
  #team h1 {
    font-size: 50px;
    text-align: center;
  }
  #team .highlight {
    justify-content: center;
  }
  #team h2 {
    font-size: 35px;
  }
}
@media only screen and (max-width: 390px) {
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 10px;
  }
}

#technica {
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 990px) {
  #technica {
    padding: 2rem;
  }
}

.technica-title-container {
  padding: 5rem;
  padding-bottom: 2rem;
}

.tech-title-top {
  font-family: "Optima", sans-serif;
  color: white;
  font-size: 2rem;
}

.tech-title {
  font-family: "Optima", sans-serif;
  color: white;
  font-size: 5rem;
  font-weight: 700;
}

@media (max-width: 768px) {
  .tech-title-top {
    font-size: 1.5rem;
  }
  .tech-title {
    font-size: 2.8rem;
  }

  .technica-title-container {
    padding: 0rem;
  }
}

.technica-text {
  font-family: "Optima", sans-serif;
  color: white;
  font-size: 1.5rem;
  margin-top: 2rem;
  padding-left: 2rem;
  text-align: justify;
}

.technica-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.technica-logo {
  height: 25rem;
  margin-top: 7rem;
}

@media (max-width: 768px) {
  .technica-logo {
    height: 15rem;
    margin-top: 2.5rem;
  }
}

.mobile-team {
  display: none;
}

@media (max-width: 768px) {
  .lap-team {
    display: none;
  }
  .mobile-team {
    display: block !important;
  }
}

.top-right-logo {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 80px;
}

.horizon-tagline {
  padding-top: 20px;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  video {
    width: 90%;
    margin-bottom: 40px;
  }
}

.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-2dot4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

@media (min-width: 480px) {
  .col-lg-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 540px) {
  .col-lg-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%;
  }
}
@media (min-width: 720px) {
  .col-lg-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media (min-width: 998px) {
  .col-lg-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 1140px) {
  .col-xl-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

.discord-logo {
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 50px;
}

.spo-div {
  position: absolute;
  left: 60vw;
  top: 28vw;
}

.spo-img {
  width: 10rem;
}

@media screen and (max-width: 990px) {
  .spo-div {
    left: 30vw;
    top: 135vw;
  }
}
