<!-- <img src="/assets/challenge-upper-blue-triangle.svg" class="upper-blue-triangle" alt="">
<div class="container-fluid">
    <div class="container">

    
    <h1 class="heading">CHALLENGES</h1>
    <div class="row justify-content-around mt-lg-5 pt-lg-5 pt-sm-3">
        
        <% for(var i=0; i < 3; i++) { %>
            <div class="col-md-6 col-lg-4 my-4">
            <div class="col-md-6 col-lg-4 col-xl-3 my-4"> 
                <img src="/assets/challenge-upper-triangle.svg" class="upper-challenge-triangle" alt="">
                <div class="bg-white">
                    <img src="/assets/echoAR.svg" alt="" class="w-100" style="max-width: 50vw;">
                </div>
                <img src="/assets/challenge-lower-triangle.svg" class="lower-challenge-triangle" alt="">
                <div class="challenge-content container py-3">
                    <p>echoAR is a cloud platform for AR/VR that provides tools and server-side infrastructure to help developers & companies quickly build and deploy <b>3D apps</b>.
                    </p>
                    <div>
                        <div class="text-left">
                            <h5>Prizes</h5>
                            <span class="badge badge-light">
                                50 USD Amazon Gift card
                            </span>
                            <span class="badge badge-light">
                                Free 1 month Business Tier Access
                            </span>
                        </div>
                    </div>
                </div>
                <img src="/assets/challenge-content-blue-triangle.svg" style="margin-top: -5px;" class="challenge-content-blue-triangle" alt="">
            </div>
            <% } %>
        <div class="col-lg-3"></div>
    </div>
</div>
    
</div>
<img src="/assets/challenge-lower-blue-triangle.svg" class="lower-blue-triangle" alt=""> 