<img src="/assets/challenge-upper-blue-triangle.svg" class="upper-blue-triangle w-100 mt-5" style="margin-bottom: -1px;" alt="">
<div>
    <div class="container text-center">
        <div class="row mx-0 w-100 justify-content-around my-4">
            <% [{name:"TIMELINE",url:"https://www.notion.so/Technica-21-Schedule-9412cfdea1bb4424871d480ef7b84ca0"},{name:"HORIZON",url:"/"},{name:"CODE OF CONDUCT",url:"/assets/CodeofConduct.pdf"}].forEach((val)=>{ %>
            <div class="col-12 col-md-4">
                <h4 class="footer-links">
                    <a href=<%= val.url || "" %>>
                        <%= val.name %>
                        <!-- TIMELINE -->
                    </a>
                </h4>
            </div>
            <% }) %>
            
        </div>
        <div class="row justify-content-center my-2">
            <div class="mx-2">
                <a href="https://www.youtube.com/channel/UCVRlM9S7LDPyo_mwNpBrnXg" target="_blank">
                    <img src="/assets/social-youtube.svg" alt="">
                </a>
            </div>
            <div class="mx-2">
                <a href="https://www.facebook.com/ISTE.VIT/" target="_blank">
                    <img src="/assets/social-facebook.svg" alt="">
                </a>
            </div>
            <div class="mx-2">
                <a href="https://github.com/ISTE-VIT" target="_blank">
                    <img src="/assets/social-github.svg" alt="">
                </a>
            </div>
            <div class="mx-2">
                <a href="https://www.instagram.com/iste_vit_vellore/" target="_blank">
                    <img src="/assets/social-instagram.svg" alt="">
                </a>
            </div>
            <div class="mx-2">
                <a href="https://in.linkedin.com/company/indian-society-for-technical-education" target="_blank">
                    <img src="/assets/social-linkedin.svg" alt="">
                </a>
            </div>
        </div>

        <div class="my-4">
            Made with ❤️&nbsp;&nbsp;by 
            <a href="https://www.istevit.in/">
                ISTE-VIT
            </a>
        </div>
        
    </div>
</div>