<svg preserveAspectRatio="none" width="199" height="2161" viewBox="0 0 199 2161" fill="none"
xmlns="http://www.w3.org/2000/svg" class="side-lines left bottom">
<path d="M3.5 4L193.5 121.5V2030.5L2.5 2161" stroke="white" stroke-width="9" class="vert-line bottom" />
</svg>
<svg preserveAspectRatio="none" width="199" height="2161" viewBox="0 0 199 2161" fill="none"
xmlns="http://www.w3.org/2000/svg" class="side-lines right bottom">
<path d="M192.5 4L5 121.5V2031.5L192.5 2161" stroke="white" stroke-width="9" class="vert-line bottom" />
</svg>


<h1 class="heading">TRACKS</h1>
<div class="container text-left tracks-list ">

<div class="row track-info align-items-center py-4 px-lg-5">
    <div class="col-6 col-lg-3 col-md-4 border-md-right border-white">
        <img src="/assets/education.svg" alt="">
    </div>
    <div class="col-lg-9 col-md-8 pb-lg-4">
        <h2 class="sub-heading">
            Education
        </h2>
        <p>
            Education is one of the cornerstones of human civilization and is of extreme importance to us.
            Over the years, E-books, virtual classrooms and online education portals have revolutionized
            education.With the birth of internet in the late 20th century it is possible to learn anything
            under the sun.Today It is even more important to incorporate new technology and develop tools to
            help make learning more effective and inclusive.
        </p>
    </div>
</div>
<div class="row track-info align-items-center py-4 px-lg-5 pb-lg-4">
    <div class="col-6 col-lg-3 col-md-4 border-md-right border-white">
        <img src="/assets/healthcare.svg" alt="">
    </div>
    <div class="col-lg-9 col-md-8">
        <h2 class="sub-heading">
            Healthcare
        </h2>
        <p>
            Healthcare is the fundamental necessity of every living being. Rapid advancement in the field
            has improved life expectancy and reduced healing time, but with new viruses and diseases
            developing everyday , finding a solution is imperative. Step forth, search for digital
            strategies to scale medicine as a way to solve health problems worldwide. Make a difference, be
            a part of a healthier future.
        </p>
    </div>
</div>
<div class="row track-info align-items-center py-4 px-lg-5 pb-lg-4">
    <div class="col-6 col-lg-3 col-md-4 border-md-right border-white">
        <img src="/assets/fin-tech.svg" alt="">
    </div>
    <div class="col-lg-9 col-md-8">
        <h2 class="sub-heading">
            Fin-Tech
        </h2>
        <p>
            Financial technology, also known as fin-tech, is an economic industry composed of companies that
            use technology to make financial services more efficient. Having grown from its initial use in
            the back-end systems of banks or other financial institutions, fintech now contributes in
            applications that are more consumer-focused. In the coming years, it would be possible to manage
            funds, trade stocks, pay for food or manage insurance through this technology. From Bitcoin to
            mobile banking, fintech has changed how consumers access their money.
        </p>
    </div>
</div>
<div class="row track-info align-items-center py-4 px-lg-5 pb-lg-4">
    <div class="col-6 col-lg-3 col-md-4 border-md-right border-white">
        <img src="/assets/open-innovation.svg" alt="">
    </div>
    <div class="col-lg-9 col-md-8">
        <h2 class="sub-heading">
            Open-Innovation
        </h2>
        <p>
            Open innovation is the use of an organisation’s internal knowledge and benefiting from external
            innovative solutions by collaborating with people and organisations outside the company. It
            helps to create new products and services with reduced costs, allowing organisations to stay
            ahead of the competition. Leading to better interactions between healthcare and other fields
            like big data and advanced materials, open innovation is the key to shape the future of
            diagnostics and imaging devices.

        </p>
    </div>
</div>



</div>