<div class="col-md-6 col-lg-4 my-4">
    <img src="/assets/<%=type%>-upper-card-section.svg" class="engagement-upper-card-section" alt="" />
    <div class="engagement-content">

    </div>
    <div style="margin-top: -50px;">
        <img src="/assets/engagement-upper-triangle.svg" class="engagement-upper-triangle" alt="" />
        <div class="bg-white" style="min-height: 100px;">
        </div>
        <img src="/assets/engagement-lower-triangle.svg" class="engagement-lower-triangle" alt="" />
    </div>
</div>